@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.d-block {
    display: block;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.display-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-end {
    align-items: flex-end;
}

.space-around{
    justify-content: space-around;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.margin-auto {
    margin: auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.hr {
    color: white;
    height: 2px;
}

.hr.small-hr {
    width: 100px;
}

.hr.medium-hr {
    width: 250px;
}

.hr.xsmall-hr {
    width: 50px;
}

.hr.black {
    color: #292929;
}

button.btn-white {
    color: white;
}

.home-pl {
    display: block;
    color: white;
    text-align: center;
    padding: 2.5px 10px;
    font-size: 3vh;
}
