@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.d-block {
    display: block;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-screen {
    width: 99vw;
    height: 99vh;
}

.position-fixed {
    position: fixed;
}

.modal-bg {
    background: rgba(8, 8, 8, .2);
}

.align-absolute-top {
    top: 0;
    left: 0;
}

.capitalize {
    text-transform: capitalize;
}

.display-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-end {
    align-items: flex-end;
}

.space-around{
    justify-content: space-around;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.margin-auto {
    margin: auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.hr {
    color: white;
    height: 2px;
}

.hr.small-hr {
    width: 100px;
}

.hr.medium-hr {
    width: 250px;
}

.hr.xsmall-hr {
    width: 50px;
}

.hr.black {
    color: #292929;
}

button.btn-white {
    color: white;
}

.home-pl {
    display: block;
    color: white;
    text-align: center;
    padding: 2.5px 10px;
    font-size: 3vh;
}

#user-menu > div[role="document"] > ul[role="menu"] {
    padding-top: 0;
    padding-bottom: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}